*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    background-color: rgb(6, 83, 151);
    padding: 20px;
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: 0.3s;
}
.navbar ul li a:hover{
    color: black;
}

.hero{
    background-image: url(hero2.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.hero h1{
    color: white;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    font-size: 60px;
}
.hero p{
    color: white;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
    font-size: 40px;
}

.shop_btn{
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: .5s;
    font-size: 22px;
}
.shop_btn:hover{
    background-color: rgb(100, 173, 237);
    color: white;
    border: 1px solid white;
}


.products{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: rgb(199, 200, 200);}
.product_card{
    width: 400px;
    height: 500px;
    background-color: rgb(142, 143, 143);
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}
.product_card img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.product_card h3{
    color: white;
    font-size: 24px;
}
.product_card h2{
    color: white;
    font-size: 30px;
}
.product_card p{
    color: white;
    font-size: 18px;
    text-align: center;
}

.buy_btn{
    background-color: white;
    color: rgb(100, 173, 237);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: .5s;
}
.buy_btn:hover{
    background-color: rgb(100, 173, 237);
    color: white;
    border: 1px solid white;
}

.footer{
    background-color: rgb(6, 83, 151);
    color: white;
    text-align: center;
    padding: 20px;
    /* margin-top: 20px; */
}